<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thống kê báo cáo</title>
    <link rel="stylesheet" type="text/css" media="screen"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link
        href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"
        rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>


    <script
        src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
</head>

<body>
    <div class="container" style="margin-top: 10px;">
        <h2 style="margin-bottom: 20px;">Thống kê báo cáo</h2>
        <h4 style="margin: 10px">Thời gian</h4>

        <form action="/view/statistic_report" method="POST" role="form"">
            <!-- start -->
            <div class='col-md-4'>
                <div class=" form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' name='start' class="form-control" required value="<%= start %>" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
    </div>
    </div>
    <!-- end -->
    <div class='col-md-4'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' name='end' class="form-control" required value="<%= end %>" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Tạo báo cáo</button>
    <br>
    <br>

    <div style="margin: 10px;">
        <h4>Tên báo cáo: </h4>
        <div class="input-group" style="margin-left: 5px">
            <input type="text" name="report_name" value="<%= report.name %>" id="input" class="form-control"
                required="required">
        </div>
        <h4>Mô tả: </h4>
        <textarea name="description" style="margin-top: 10px; margin-left:5px" id="inputdescription"
            class="form-control" rows="3" required="required"><%= report.description %></textarea>

    </div>

    </form>

    <% if(!report) {%>
    <div style="text-align: center; margin-top:20px">
        <h4>Hiện chưa có báo cáo</h4>
    </div>
    <%} else {%>
    <br>
    <div class="table-responsive text-center">
        <table class="table table-hover table-bordered table-striped table-condensed">
            <tbody>
                <!-- id
                    name
                    start
                    end
                    finished_task
                    doing_task
                    cancel_task
                    overdue_task
                    created_time -->
                <tr>
                    <th>Id</th>
                    <td><%= report.id%></td>
                </tr>
                <tr>
                    <th>Tên báo cáo</th>
                    <td><%= report.name%></td>
                </tr>
                <tr>
                    <th>Người thực hiện</th>
                    <td><%= report.creator_name%></td>
                </tr>
                <tr>
                    <th>Thời gian</th>
                    <td><%= start %><i class="fa fa-arrow-right" style="margin-right: 5px; margin-left: 5px"
                            aria-hidden="true"></i><%= end %></td>
                </tr>
                <tr>
                    <th>Task hoàn thành</th>
                    <td><%= report.finished_task%></td>
                </tr>
                <tr>
                    <th>Task đang làm</th>
                    <td><%= report.doing_task%></td>
                </tr>
                <tr>
                    <th>Task hủy bỏ</th>
                    <td><%= report.cancel_task%></td>
                </tr>
                <tr>
                    <th>Task quá hạn</th>
                    <td><%= report.overdue_task%></td>
                </tr>
                <tr>
                    <th>Thời gian tạo</th>
                    <td><%= report.created_time%></td>
                </tr>
                <tr>
                    <th>Mô tả</th>
                    <td><%= report.description%></td>
                </tr>
            </tbody>
        </table>
    </div>


    <%}%>

    </div>

    <script type="text/javascript">
        $(function () {

            $('#datetimepicker6').datetimepicker({
                locale: 'vi'
            });
            $('#datetimepicker7').datetimepicker({
                useCurrent: false, //Important! See issue #1075
                locale: 'vi'
            });
            $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
</body>


</html>